
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    height:100vh;
     
}
body{
    height: 100%;
    background-color: #0B2447;
    font-family: 'Rubik';
    font-size: 22px;
}


.container {
    margin: 20px;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    min-height: 650px;
}
.options{
    
    padding-top: 20px;
    width: 80%;
    
}
@media screen and (max-width:1100px) {
    .container{
        display: block;

    }

    .container > div{
        margin: 10px;
    }
    .options {
        display: none;
    }
    
}
.stocks {
    width:100%;
    height:80%;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.bankbalance {
    text-align: end;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    width: 90%;
}
.exp {
    width:90%;
    height:45%;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ticker {
    padding: 5px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: white dashed 2px ;
    display: flex;
    height:55px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
}

.expense {
    padding: 5px;
    
    display: flex;
    height:40px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
}
.pchange {
    color:greenyellow;
}
.nchange {
    color: red;
}
.navbar { 
    grid-area: 1 / 3 / 2 / 11;
    color: #A5D7E8;
    text-align: center;
    padding: 40px;
    font-size: 35px;

 }
.profile {
    grid-area: 1 / 1 / 7 / 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.opt:hover{
    background-color: aquamarine;
    color: black;
    scale:1.1;
    
}

.opt{
    padding: 20px;
    color: #A5D7E8;
    border: #A5D7E8 solid 2px;
    border-radius: 10px;
    margin-top: 10px;
    transition-duration: 0.1s;
}
.icon2 {
    width:100px;
    height: 100px;

    display: flex;
    justify-content: center;
    
}

.photo{
    margin-top: 40px;
    background-image: url("photos/profile.png");
   
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;    
}

.name{
    color: #A5D7E8;
    font-size: 22px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;

    
}
.box1 { 
    grid-area: 2 / 3 / 7 / 5;
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 15px;
    color: #A5D7E8;
}
.todolist {
    list-style-position: inside;
    background-color: #1B2430;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    align-self: center;
    padding: 20px;
    margin: 2.5%;

    
}
.stockvalues {
    text-align: end;
}

.todo {
    color: white;
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;


}
.not {
    display: flex;
    width: 90%;
    height: 70px;
    padding: 10px;
    font-size: 14px;
    justify-content: flex-start;
    align-self: center;
    border-radius: 10px;
    align-items: center;
    margin: 6px;
    gap: 5px;
}
.logo {
    
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    align-self: center;
    background-repeat: no-repeat;
}

.uberlogo {
    background-image: url("photos/uber.png");
}
.whatsapplogo {
    background-image: url("photos/whatsapp.png");
}
.zomatologo {
    background-image: url("photos/zomato.png");
}

.uber {
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}

.whatsapp {
    background-color: #25d365cb;
    color: white;
}
.zomato {
    background-color: #cb202dcb;
    color: white;
}
.box2 { 
    grid-area: 2 / 5 / 7 / 7;
    display: flex;
    flex-direction: column; 
}
.box3 { 
    grid-area: 2 / 7 / 7 / 9;
    padding: 10px;
}
.box4 { 
    grid-area: 2 / 9 / 7 / 11;
    display: flex;
    flex-direction: column;

}

.weather {
    margin: 20px ;
    padding: 10px;
    background-color: #1B2430;
    border-radius: 10px;
}

.weather  > a{
    text-decoration: none;
    color: #A5D7E8;

}

#stockbutton {
    width: 20%;
    height: 30px;
    background-color:#0B2447;
    border-radius: 10px;
    border: #A5D7E8 solid 2px;
    color: #A5D7E8;
}

.addstock {
    width: 70%;
    height: 30px;
    background-color:#0B2447;
    border-radius: 10px;
    border: #A5D7E8 solid 2px;
    color: #A5D7E8;
    padding: 5px;
}

#taskbutton {
    width: 20%;
    height: 30px;
    background-color:#0B2447;
    border-radius: 10px;
    border: #000000 solid 2px;
    color: #A5D7E8;
}

.addtask {
    width: 70%;
    height: 30px;
    background-color:#0B2447;
    border-radius: 10px;
    border: #000000 solid 2px;
    color: #A5D7E8;
    padding: 5px;
}


.addstock {
    margin-left: 20px;
    margin: 5px;
}

.container > div {
    background-color: #19376D;
    border-radius: 5px;
}

